@import '../node_modules/reset-css/reset.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

@media all and (min-width : 240px) {
    body{
        font-family: Quicksand, sans-serif;
        font-weight: 700;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    .container{
        width: 100%;
        margin: 0 auto;
    }
}
@media (min-width:640px) {}
@media (min-width:960px) {
    .container{
        margin: 0 auto;
        background-color: #C1E5E5;
        padding: 20px;
        width: auto;
    }
}
@media (min-width:1200px) {
    .container{
        max-width: 1200px;
        margin: 0 auto;
        background-color: #C1E5E5;
        padding: 30px;
    }
} 
