
@media all and (min-width : 240px) {
    .header{
        position: fixed;
        background-color: #ffffff;
        width: 100%;
        top: 0;
    }
}
@media (min-width:640px) {}
@media (min-width:960px) {
    .header{
        position: static;
        top: 20px;
        // width: 100%;
        // background-image: url(../../img/1.png);
        // background-repeat: no-repeat;
        // background-size: cover;
        // height: 100vh;
        // background-position: center;
    }
}
@media (min-width:1200px) {
    
} 